
.container-imagen-activa {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
}

.container-imagen {
    height: 90%;
    border-radius: 2px;
    position: relative;
}

.container-imagen img {
    max-height: 100%;
    max-width: 100%;
}

.container-contador {
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    color: white;
    font-size: 1.25em;
    display: flex;
    justify-content: space-between;
}

.container-botones {
    position: absolute;
    top: calc(100% - 65%);
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.boton-galeria {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background:rgba(0, 0, 0, 0.4);
}

.boton-cerrar {
    border: none;
    background: none;
    justify-self: flex-end;
    align-self: flex-start;
}

.bi-chevron-left,
.bi-chevron-right,
.bi-x-lg {
    font-size: 1.8em;
    color: #999;
    transition: color 0.2s ease;
    display: flex;
    justify-content: center;
}

.bi-chevron-left,
.bi-chevron-right {
    font-size: 2.3em;
}

.bi-chevron-left:hover,
.bi-chevron-right:hover,
.bi-x-lg:hover {
    color: white;
}

.oculto {
    display: none;
}