
:root {
    --marronOscuro: #3e2611;
    --marronClaro: #b5855b;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.fuente-principal {
    font-family: "Laila", serif;
}

/* Pantalla de celular */

@media screen and (max-width: 720px) {
    /* Navbar */
    .container-navbar.px-5.py-2 {
        flex-direction: column;
    }
    .enlace-logo {
        padding-bottom: 10px;
    }

    /* Presentacion */
    .container-hero {
        height: 300px;
    }

    /* Nosotros */
    .contenedor-nosotros {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .contenedor-descripcion-nosotros iframe {
        margin-bottom: 20px;
        height: 250px;
    }

    .contenedor-img-nosotros {
        width: 95%;
        height: 20rem;
        margin: 0 10px;
    }
    
    /* Galeria */
    .container-imagenes-galeria {
        grid-template-columns: repeat(2, 50%);
        gap: 0;
    }
    .container-imagen{
       width: 100%;
    }

    .container-botones {
        width: 50%;
        justify-content: center;
    }

    /* Menu */
    .contenedor-opciones {
        flex-direction: column;
        align-items: center;
        justify-content: center;      
        gap: 20px;
        height: 440px;
    }
    .cont.text-center .col.contenedor-opcion {
        width: 130px;
        height: 200px;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    .texto-opcion, .imagen-opcion {
        transform: translate(12px, -5px);
    }

    /* Menu e items */
    .menu {
        padding: 0 12px;
        gap: 0;
    }

    .menu-header .menu-title {
        top: -40px;
        left: 160px;
    }
    .menu-header .menu-icono {
        left: 90px;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        padding: 8px;
        z-index: 1;
    }
    .cont.text-center .menu {
        display: flex;
        justify-content: center;
    }

    .items .contenedor-item {
        height: 390px;
        grid-template-columns: 100%;
    } 
    .cont.text-center .menu .menu-content{
        width: 43%;
    }

    .contenedor-img {
        height: 300px;
    }
    .contenedor-info {
        display: none;
        position: absolute;
        height: 300px;
        width: 70%;
        color: #000000;
        padding: 5px 0;
    }
    .contenedor-item:hover > .contenedor-info{
        display: block;
    }
    .contenedor-item:hover > .contenedor-img-cantidad .contenedor-img .imagen-item {
        filter: blur(8px);
    }
    /* Aside de precios */
    .cart {
        height: fit-content;
        position: sticky;
        top: 6px;
    }

    .bebida-price .unidad{
        display: none;
    }

    /* Footer */
    #col1 :first-child { 
        margin: 0 100px 0 0;
    }

    .col {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .row-integrantes {
        flex-direction: column;
        width: 100%;
    }
    .link-userName{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link-userName a, .name{
        display: flex;
        min-width: 190px;
    }
}